.delete {
	display: none;
}
li {
	list-style: none;
	padding: 10px 20px;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	color: black

}

li > button {
	float: right;
}
body{
    background-image: url("../image/Blue-Grunge-Background-Texture-.jpg");
    background-attachment: fixed;
}

#titre{
     margin-left: 45%;
     color : white ;
    
}

.jsbody{
      margin-left: 40%;
}

