.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}

#formulaire{        
    margin-left: 20%;
    margin-right: 21%;
}

footer{

    background:#ccc;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:35%;
    
    
}

body{
    background-image: url("../image/background_contact.png");
}